.header {
    &__section {
        display: flex;

        height: 100%;
        align-items: center;
    }

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.top-bar {
    border: 1px solid #7c7c7c;

    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    li {
       
        height: 100%;
    }

    .icon {
        width: 40px;
        height: 40px;
        background-size: 18px;
    }

    &__right-side {
        a {
            padding: 8px;
            display: block;
        }
        li {
            border-left: 1px solid #7c7c7c;
            border-right: 1px solid #7c7c7c;
        }
    }

    &__left-side {
        li {
            &:last-child {
                color: green;
            }

            border-left: 1px solid #7c7c7c;
         

            &:last-of-type {
                padding-right: 16px;
                border-right: 1px solid #7c7c7c;
                border-left: 1px solid #7c7c7c;
            }

            &:hover {
                background-color: #7c7c7c;
            }
        }
    }

    &__wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

.icon {
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 18px;

    &__item {
        display: flex;
        align-items: center;
        display: flex;
    }

    &__inst {
        background-image: url("/img/icons/inst.svg");
    }

    &__mail {
        background-image: url("/img/icons/mail.svg");
    }

    &__phone {
        background-image: url("/img/icons/phone.svg");
    }

    &__wtf{
        background-image: url('/img/icons/wtf.svg');
    }

    &__chips{
        background-image: url('/img/icons/chips.svg');
    }

    
    &__ice{
        background-image: url('/img/icons/ice.svg');
    }

    &__cheklist{
        background-image: url('/img/icons/cheklist.svg');
    }

    
    &__chocolate{
        background-image: url('/img/icons/chocolate.svg');
    }

    
}
