.navbar {
  background-color: $orange;
  line-height: 2;

  &__catalog {
    background-color: $red;
    min-width: 243px;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;

    ul {
      display: none;
      list-style: none;
    }

    button {
      width: 60px;
      height: 60px;
    }
  }

  &__second {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;

    li {
      padding: 0 24px;
      a {
        color: #fff;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    top: 216px;
    background-color: red;
    z-index: 999;
    position: absolute;
    width: 243px;

    li {
      &:hover {
        background-color: darken($red, 25%);
      }
    }
  }
}
