.banner-small{

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    
    &__item{
      
    }

    img{
        width: 100%;
        display: block;
    }
}

.banner-big{

}


.product-carusel{
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title{
        margin-top: 16px;
    }
}



.slider-product {

    // .slider-product__wrapper

    &__wrapper {
        border-bottom: 1px solid red;
        
    }

    // .slider-product__inner

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    // .slider-product__title

    &__title {
        display: flex;
        align-items: center;
    }

    // .slider-product__tabs

    &__tabs {
        ul{
            display: flex;
            list-style: none;
        }
    }
}
.arrows-block {
}
.arrow {

    // .arrow__left

    &__left {
    }

    // .arrow__right

    &__right {
    }
}
