.header-search{
    display: flex;
    width: 100%;
    
    input{
        width: 100%!important;
        &::placeholder{
            padding-left: 20px;
        }
    }

    &__button{
        border-radius: 0px 9px 9px 0px;
        background-color: $orange;
        background-image: url('/img/icons/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px;
        width: 60px;
        height: 40px;
        border: none;
    }

    &__input{
        width: 100%;
        border: 1px solid $orange;
        
      
    }
}




.basket-top{
   
        border: 1px solid $orange;
        border-radius: 16px;
        display: flex;
        align-items: center;
   

        span{
            background-color: $red;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 12px;
           margin-right: 8px;
         

        }
        a {
            display: flex;
            align-items: center;
            color: $orange;
            padding-right: 25px;
            &:before {
                content: "";
                background-image: url("/img/icons/basket.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 28px;
                display: inline-block;
                height: 40px;
                width: 40px;
                margin-right: 9px;
            }
        }
    
}


