<div class="top-bar">
    <div class="container">
        <div class="top-bar__wrapper">
            <ul class="top-bar__left-side">
                <li><a class="icon icon__inst"></a>
                <li><a class="icon icon__mail"></a>
                <li class="icon__item"><a class="icon icon__phone"></a><span>+77777777</span>
                </li>
            </ul>
            <ul class="top-bar__right-side">
                <li><a href="">Стать партнером</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 p-3"><img src="/img/logo.svg" alt=""></div>
        <div class="col-lg-6">
            <div class="header__section">
                <div class="header__inner">
                    <div class="header-search">
                        <input type="header-search__input" placeholder="ПОИСК" id="site-search" name="q"
                            aria-label="Search through site content">
                        <button class="header-search__button"></button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">
            <div class="header__section">
                <div class="header__inner">
                    <div class="basket-top">
                        <a href="">КОРЗИНА</a><span>99</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<nav class="navbar">
    <div class="container">
        <div class="navbar__wrapper">
            <div class="navbar__catalog">

                <button class="hamburger hamburger--spring" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <div class="navbar__first">Каталог</div>
                <ul class="navbar__dropdown">
                    <li>Категория</li>
                    <li>Категория</li>
                </ul>

            </div>
            <ul class="navbar__second">
                <li><a href="">Главная</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Оплата</a></li>
                <li><a href="">Доставка и возврат</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Как оформить доставку</a></li>
            </ul>
        </div>
    </div>
</nav>