<div class="container">
    <div class="slider-product__wrapper">
        <div class="slider-product__inner">
            <div class="slider-product__title"><i class="icon icon__wtf"></i><span>Всё продукты</span></div>
            <div class="slider-product__tabs">
                <ul>
                    <li class="icon__item"><a class="icon icon__cheklist"></a><span>Всё</span></li>
                    <li class="icon__item"><a class="icon icon__chips"></a><span>Чипсы</span></li>
                    <li class="icon__item"><a class="icon icon__ice"></a><span>Морожное</span></li>
                    <li class="icon__item"><a class="icon icon__chocolate"></a><span>Шоколад</span></li>
                </ul>
   
                <div class="arrows-block">
                    <div class="arrow arrow__left"></div>
                    <div class="arrow arrow__right"></div>
                </div>
            </div>
        </div>
    </div>
   </div>